@use "./variables" as *;
@use "./fonts";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.5rem;
  @media (min-width: $mobile) {
    padding: 3rem;
  }
}

section {
  margin: 2rem 0;
}

button {
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  background: salmon;

  &:hover {
    background: darken(salmon, 15%);
    transition: background-color 0.3s ease-out;
  }
}
.links {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
  margin: 1rem;
}

footer {
  position: relative;
  padding: 1rem;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .side {
    padding: 2rem;
    width: 100%;
    @media (min-width: $tablet) {
      width: 50%;
    }
    &:last-of-type {
      text-align: right;
    }
  }
}

.paper {
  position: relative;
  width: 100%;
  min-height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
  margin: 0 0 2rem;

  // variantes de color
  @each $name, $theme in $paper-themes {
    &.#{$name} {
      @include paper-theme($theme);
    }
  }
  &__content {
    width: 100%;
    padding: 0.25rem;
  }

  &__tape-section {
    position: absolute;
    width: 100%;
    &:first-of-type {
      top: 0;
    }

    &:last-of-type {
      bottom: 0;
    }

    &::before,
    &::after {
      content: "";
      width: 10vmin;
      height: 4vmin;
      position: absolute;
      background-color: $tape-gray;
      opacity: 0.5;
      border-right: 1px dotted $tape-edge-gray;
      border-left: 1px dotted $tape-edge-gray;
      z-index: 0;
      pointer-events: none;
    }

    &:last-of-type::after {
      transform: rotate(-45deg);
      right: -4vmin;
      top: -3vmin;
    }

    &:first-of-type::before {
      transform: rotate(-45deg);
      left: -4vmin;
    }

    &:first-of-type::after {
      transform: rotate(45deg);
      right: -4vmin;
      top: 0;
    }

    &:last-of-type::before {
      transform: rotate(45deg);
      left: -4vmin;
      bottom: 0;
    }
  }

  &__top-tape {
    position: absolute;
    height: 4vmin;
    top: -13px;
    width: 107%;
    background-color: $tape-gray;
    border-right: 1px dotted $tape-edge-gray;
    border-left: 1px dotted $tape-edge-gray;
    opacity: 0.5;

    transform: rotate(0.25deg);
  }
}

.lined-paper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: linear-gradient(
    to bottom,
    lightblue 0px,
    lightblue 1px,
    transparent 1px,
    transparent
  );
  margin: 50px auto;
  background-size: 30px 30px;
  height: 90vh;
  position: relative;
  box-shadow: -2px -1px 5px 1px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.1));

  &:after {
    position: absolute;
    top: 0;
    height: 100%;
    left: 10%;
    content: "";
    width: 1px;
    background: salmon;
  }

  &__content {
    width: 100%;
    padding: 5% 15%;
  }
}

#contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  margin: 50px 0 0;

  .field {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
    input,
    textarea {
      border: none;
      background: transparent;
      border-bottom: 1px solid grey;
      padding: 0 0.25rem;
      width: 100%;

      &:focus {
        outline: none;
        border-bottom: 1px solid #007bff;
      }
    }

    textarea {
      resize: none;
      height: 100px;
    }
  }

  #email-error {
    font-size: 1rem;
    color: darken(salmon, 40%);
  }
}

header {
  position: relative;
}

#menu-toggle {
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
  padding: 1rem;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
}

.sidebar {
  position: fixed;
  top: 0;
  left: -300px;
  width: 280px;
  height: 100%;
  background-color: #fffbe6;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
  padding: 3rem 1rem;
  overflow-y: auto;
  transition: left 0.3s ease;
  z-index: 20;

  ul {
    list-style: none;
    padding: 0;

    > li {
      margin-bottom: 1rem;

      > span {
        font-weight: bold;
        display: block;
        margin-bottom: 0.5rem;
      }

      ul {
        margin-left: 1rem;
        li {
          margin: 0.25rem 0;
        }
      }
    }

    a {
      color: #333;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &.open {
    left: 0;
  }
}

#menu-close {
  position: absolute;
  top: 0.5rem;
  left: 1rem;
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}
