@use "./variables" as *;

.glide {
  position: relative;
  max-height: 100vh;
  &__arrows {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    display: flex;
    justify-content: space-between;

    button {
      background: white;
      border: none;
      cursor: pointer;
      padding: 0.5rem;
    }
  }

  &__track {
    height: 100%;
  }

  &__slides {
    height: 100%;
  }

  &__slide {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    height: 100%;

    img {
      object-fit: contain;
      max-width: 100%;
      max-height: 100%;
      width: auto;
      height: auto;
    }
  }
}
