.zine-builder {
  text-align: center;

  .palette {
    margin: 1rem;
    padding: 1rem;
    border: 2px dashed #ccc;
  }

  .canvas {
    position: relative;
    width: min(90vw, 630px); // ancho A4 escalado
    aspect-ratio: 1 / 1.414; // relación A4
    background: white;
    border: 2px solid black;
    margin-inline: auto;
    margin-bottom: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
  }

  .draggable {
    margin: 0 0.5rem;
    font-size: 1.7rem;
    cursor: grab;
  }
}
