@import url("https://fonts.googleapis.com/css2?family=Jersey+15&family=Roboto:ital@0;1&family=Special+Elite&display=swap");
@font-face {
  font-family: "CsGoenkaRegular";
  src: url(../assets/fonts/cs-goenka-font/CsGoenkaRegularDemo-KVEWW.otf) format("opentype");
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "CsGoenkaRegular", sans-serif;
  margin: 0.5rem 0;
}

h1 {
  font-size: 12vw;
}
@media (min-width: 1240px) {
  h1 {
    font-size: 6rem;
  }
}
@media (min-width: 720px) {
  h1 {
    font-size: 4rem;
  }
}
@media (min-width: 480px) {
  h1 {
    font-size: 3rem;
  }
}

a {
  font-family: "Special Elite", sans-serif;
  font-size: 5vw;
  color: #007bff;
}
@media (min-width: 480px) {
  a {
    font-size: 1.5rem;
  }
}
a:hover {
  color: #3600b3;
  transition: color 0.3s ease-out;
}
a::after {
  content: ">>";
  margin-left: 0.25rem;
}

p {
  font-family: "Special Elite";
  font-size: 5vw;
  margin: 0.5rem 0;
}
@media (min-width: 480px) {
  p {
    font-size: 1.5rem;
  }
}

ul {
  list-style-position: inside;
  margin: 0.5rem 0.75rem;
}
ul li {
  font-family: "Special Elite";
  font-size: 1.35rem;
  margin: 0.5rem 0;
}

.contact-form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, lightblue 0px, lightblue 1px, transparent 1px, transparent);
  margin: 50px auto 0;
  background-size: 30px 30px;
  height: 600px;
  width: 75%;
  position: relative;
  box-shadow: -2px -1px 5px 1px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.1));
}
.contact-form-wrapper:after {
  position: absolute;
  top: 0;
  height: 100%;
  left: 10%;
  content: "";
  width: 1px;
  background: salmon;
}

#contact-form {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  margin: 50px 0 0;
}
#contact-form .field {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#contact-form .field input,
#contact-form .field textarea {
  border: none;
  background: transparent;
  border-bottom: 1px solid grey;
  padding: 0 0.25rem;
  width: 100%;
}
#contact-form .field input:focus,
#contact-form .field textarea:focus {
  outline: none;
  border-bottom: 1px solid #007bff;
}
#contact-form .field textarea {
  resize: none;
  height: 100px;
}

label,
input,
textarea,
button {
  font-family: "Special Elite";
  font-size: 1.25rem;
}

button {
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background: salmon;
  transition: background-color 0.3s ease-out;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.5rem;
}
@media (min-width: 480px) {
  .container {
    padding: 3rem;
  }
}

section {
  margin: 2rem 0;
}

header {
  padding: 2rem;
}

.links {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
  margin: 1rem;
}

footer {
  background-color: #f8f9fa;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (min-width: 480px) {
  footer div {
    width: 100%;
  }
}
@media (min-width: 720px) {
  footer div {
    width: 50%;
  }
}

.paper {
  position: relative;
  width: 100%;
  min-height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
}
.paper.pink {
  background: linear-gradient(to bottom right, #c6939a, 20%, rgba(236, 178, 186, 0)), #ecb2ba;
  box-shadow: 1px 1px 2px #c6939a;
}
.paper.pink::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(236, 178, 186, 0), 50%, #c6939a, 51%, rgba(236, 178, 186, 0)), linear-gradient(to right, rgba(236, 178, 186, 0), 50%, #c6939a, 51%, rgba(236, 178, 186, 0));
}
.paper.blue {
  background: linear-gradient(to bottom right, #c2d0ea, 20%, rgba(213, 224, 249, 0)), #d5e0f9;
  box-shadow: 3px 3px 2px #c2d0ea;
}
.paper.blue::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(213, 224, 249, 0), 50%, #c2d0ea, 51%, rgba(213, 224, 249, 0)), linear-gradient(to right, rgba(213, 224, 249, 0), 50%, #c2d0ea, 51%, rgba(213, 224, 249, 0));
}
.paper.red {
  background: linear-gradient(to bottom right, #cd4141, 20%, rgba(244, 161, 161, 0)), #f56a6a;
  box-shadow: 2px 2px 2px #cd4141;
}
.paper.red::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(244, 161, 161, 0), 50%, #cd4141, 51%, rgba(244, 161, 161, 0)), linear-gradient(to right, rgba(244, 161, 161, 0), 50%, #cd4141, 51%, rgba(244, 161, 161, 0));
}
.paper.purple {
  background: linear-gradient(to bottom right, #b88ed3, 20%, rgba(216, 179, 244, 0)), #d8b3f4;
  box-shadow: 2px 2px 2px #b88ed3;
}
.paper.purple::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(216, 179, 244, 0), 50%, #b88ed3, 51%, rgba(216, 179, 244, 0)), linear-gradient(to right, rgba(216, 179, 244, 0), 50%, #b88ed3, 51%, rgba(216, 179, 244, 0));
}
.paper.yellow {
  background: linear-gradient(to bottom right, #e0cc78, 20%, rgba(255, 242, 161, 0)), #fff2a1;
  box-shadow: 2px 2px 2px #e0cc78;
}
.paper.yellow::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(255, 242, 161, 0), 50%, #e0cc78, 51%, rgba(255, 242, 161, 0)), linear-gradient(to right, rgba(255, 242, 161, 0), 50%, #e0cc78, 51%, rgba(255, 242, 161, 0));
}
.paper.orange {
  background: linear-gradient(to bottom right, #e0a266, 20%, rgba(255, 194, 133, 0)), #ffc285;
  box-shadow: 2px 2px 2px #e0a266;
}
.paper.orange::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(255, 194, 133, 0), 50%, #e0a266, 51%, rgba(255, 194, 133, 0)), linear-gradient(to right, rgba(255, 194, 133, 0), 50%, #e0a266, 51%, rgba(255, 194, 133, 0));
}
.paper.brown {
  background: linear-gradient(to bottom right, #a9825c, 20%, rgba(209, 180, 154, 0)), #d1b49a;
  box-shadow: 2px 2px 2px #a9825c;
}
.paper.brown::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(209, 180, 154, 0), 50%, #a9825c, 51%, rgba(209, 180, 154, 0)), linear-gradient(to right, rgba(209, 180, 154, 0), 50%, #a9825c, 51%, rgba(209, 180, 154, 0));
}
.paper__content {
  width: 100%;
  padding: 0.25rem;
}
.paper__tape-section {
  position: absolute;
  width: 100%;
}
.paper__tape-section:first-of-type {
  top: 0;
}
.paper__tape-section:last-of-type {
  bottom: 0;
}
.paper__tape-section::before, .paper__tape-section::after {
  content: "";
  width: 10vmin;
  height: 4vmin;
  position: absolute;
  background-color: #dbd8be;
  opacity: 0.5;
  border-right: 1px dotted #b7b49d;
  border-left: 1px dotted #b7b49d;
}
.paper__tape-section:last-of-type::after {
  transform: rotate(-45deg);
  right: -4vmin;
  top: -3vmin;
}
.paper__tape-section:first-of-type::before {
  transform: rotate(-45deg);
  left: -4vmin;
}
.paper__tape-section:first-of-type::after {
  transform: rotate(45deg);
  right: -4vmin;
  top: 0;
}
.paper__tape-section:last-of-type::before {
  transform: rotate(45deg);
  left: -4vmin;
  bottom: 0;
}
.paper__top-tape {
  position: absolute;
  height: 4vmin;
  top: -13px;
  width: 107%;
  background-color: #dbd8be;
  border-right: 1px dotted #b7b49d;
  border-left: 1px dotted #b7b49d;
  opacity: 0.5;
  transform: rotate(0.25deg);
}

/*# sourceMappingURL=styles.css.map */
